.contact-form {
    margin-top: 30px;
}

	.input-container {
    position: relative;
}
	



.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
    padding: 16px;
    background: #2a2a2a;
    color: white;
    min-width: 54px;
    text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}


.wpcf7-not-valid-tip {
    position: absolute;
    top: 11px;
       top: 11px;
    left: 57px;
    font-size: 12px !important;
}
.wpcf7-form label {
    line-height: 34px;
}

.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  background:inherit;
}

.btn:hover {
  opacity: 1;
}


/* custom checkbox styling for contact form 7 checkbox */
span.wpcf7-list-item {
display: inline-block;
margin: 0;
}
.wpcf7 .wpcf7-list-item {
display: block;
margin-bottom: 10px;
}
.wpcf7-checkbox label {
position: relative;
cursor: pointer;
}
.wpcf7-checkbox input[type=checkbox] {
/*position: relative;*/
position: absolute;
visibility: hidden;
width: 30px;
height: 30px;
top: 0;
left: 0;
}
.wpcf7-checkbox input[type=checkbox] + span {
/* border: 3px solid red; */
}
.wpcf7-checkbox input[type=checkbox] + span:before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 0;
    height: 30px;
    width: 30px;
    top: 0px;
    left: 0px;
    border: 1px solid #000;
}
.wpcf7-checkbox input[type=checkbox] + span:after {
display: block;
position: absolute;
content: "\2713";
height: 30px;
width: 30px;
top: 0;
left: 0;
visibility: hidden;
font-size: 18px;
text-align: center;
line-height: 30px;
}
.wpcf7-checkbox input[type=checkbox]:checked + span:before {
background: transparent;
}
.wpcf7-checkbox input[type=checkbox]:checked + span:after {
visibility: visible;
}
.wpcf7-list-item-label {
margin-left: 40px;
display: inline-block;
}

.wpcf7-radio .wpcf7-list-item-label {
    margin-left: 5px;
}
.wpcf7-textarea {
    height: 150px;
}
